* {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    text-decoration: none;
}

.Header {
    background-image: url(assets/bg2.jpg);
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid gainsboro;
}

.Logo {
    display: flex;
    align-items: center;
}

.Icon {
    margin-left: 20px;
}

.Icon img {
    width: 50px;
    border-radius: 30% 5%;
}

.Nama {
    color: white;
    margin-left: 20px;
    font-size: 20px;
}

.Header ul {
    display: flex;
}

.Header li {
    margin: 0px 20px;
    font-size: 20px;
}

.Header li a {
    color: whitesmoke;
}

.Isi {
    background-image: url(assets/bg3.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 80px 0px 0px 0px;
}

.Box {
    background-color: rgba(0, 0, 0, 0.5);
    height: 90vh;
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 20px;
    color: whitesmoke;
    border-radius: 10px;
}

.Foto img{
    height: 35vh;
    border-radius: 30% 0%;
    display: block;
    margin: auto;
    padding: 15px 0px;
}
